{% extends "blog/base.html" %}

{% block title %}{{article.title}} {% endblock  %}

{% block content %}
<h1> {{article.title}}</h1>
<p>
    نشر {{article.publish}} بواسطة {{article.author}}
</p>
{{ article.body|linebreaks }}
<h2>المقالات ذات الصلة</h2>
{% for article in similar_articles %}
    <p>
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    </p>
{% empty %}
    لا يوجد أي مقالات ذات صلة
{% endfor %}
{% with comments.count as total_comments %}
    <h2>
        {{ total_comments }}تعليق {{ total_comments|pluralize }}
    </h2>
{% endwith %}

{% for comment in comments %}
    <div>
        <p>
            تعليق {{ forloop.counter }} بواسطة {{ comment.name }} على {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}

        
    </div>
{% empty %}
    <div>
        <p>لا يوجد أي تعليق</p>
    </div>
{% endfor %}
{% include "blog/comment_form.html" %}

<a href = '/'>
    العودة إلى المقالات
</a>
{% endblock %}
